<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>kniju7zULq2flcCwJ7PEG3U8bgQlxqFMBn2NEKPH</string>
	<key>clientKey</key>
	<string>eNwf1DpXZv3vEisobEV1yVb4NyR0jSvFkpLnJ34v</string>
</dict>
</plist>
